body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.gallery {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.photo {
    width: 200px; /* Set a fixed width for each photo */
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}